<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			This server is provided by <a href="www.icf.com">ICF</a> for the purpose
                        of testing quality measures against a FHIR server with the quality measure
                        implementation guide operations implemented. This is only a test server,
                        it is not guaranteed to always be up. Do not submit PHI to this server as
                        there is no authorization provided and all data is open.
			This server provides a complete implementation of the FHIR Specification
			using a 100% open source software stack.
		</p>
		<p>
			This server is built
			from a number of modules of the
			<a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
			project, which is a 100% open-source (Apache 2.0 Licensed) Java based
			implementation of the FHIR specification.
		</p>
	</div>
</html>
